<!-- Give this page a title -->

<!-- Add a form for user input -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Your Guess</title>
</head>
<body>
	<div class="content">
	<form action='/result' method='post'>
  		Guess:<br>
  		<input type="text" name="continue">
  		<input type="Guess Again">
	</form>
	</div>
</body>
</html>
