<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>You Win</title>
</head>
<body>
	<div class="content">
	<form action='/win' method='post'>
  		<button type="button">Play Again</button>
	</form>
	</div>
</body>
</html>
